<!-- ****************** MOBILE LAYOUT ******************* -->

<header *ngIf="isRegistro || !isRegistro">
	//versionImportante
//agregamos la etiqueta form con el submit, onsubmit para enviar datos a cloud firestore
  <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <div class="container">
    <div class="row">
      <div class="col-12 top d-flex">
        <div class="row tarjeta mx-auto my-auto">
          <div class="col-12 d-flex mb-4">
            <h4 class="mx-auto my-auto">
              APE Studio - Login
            </h4>
          </div>
          <div class="col-12 divInput d-flex" *ngIf="isRegistro">
		  	//versionImportante
//comenzamos a bindear el ngmodel con la variable formdata de tipo usuario que esta definida en  ..\src\app\services\crud.service.ts
          <input type="hidden" name="uid" #id="ngModel" [(ngModel)]="service.formData.uid">
          <input name="displayName" #fullName="ngModel" [(ngModel)]="service.formData.displayName" class="form-control col-12 divInput d-flex" placeholder="Tu nombre"  required>
          </div>

          <div class="col-12 divInput d-flex" >
          <input name="email" #userEmail="ngModel" [(ngModel)]="service.formData.email" class="form-control" placeholder="Tu email"  required>
          </div>
          <!-- <div class="col-12 divInput d-flex">
            <input type="text" class="mx-auto my-auto" placeholder="Tu email" #userEmail required >
          </div> -->
          <div class="col-12 divInput d-flex">
            <input type="text" name="pass"  #userPassword="ngModel" [(ngModel)]="service.formData.password"  class="mx-auto  my-auto" placeholder="Tu contraseña"  required>
          </div>
          <div class="col-12 d-flex mt-2">
            <p class="mx-auto text-center">Recordaremos tus datos de acceso para tu experencía sea la mejor</p>
          </div>
        </div>
      </div>
      <div class="col-12 d-flex botones">
        <div class="my-auto mx-auto w100">
          <p class="text-center">
		  //versionImportante
		  //descomentando este boton funcionaria a la perfeccion.
		  //Pero tmb funciona con el boton comentado porque angular interpreta un submit cuando haces click en el boton que no esta comentado
            <!-- <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button> -->
            <button class="btn-one" (click)="(isRegistro)?registrarUsuario(form): authService.SignIn(userEmail.value, userPassword.value)">{{(isRegistro)?'Creá tu cuenta':'Iniciar sesión'}}</button>
          </p>
          <p class="text-center"> o </p>
          <p class="text-center">
            <a routerLink="/{{(isRegistro)?'login':'registro'}}">{{(isRegistro)?'Iniciar sesión':'Creá tu cuenta'}}</a>
          </p>

        </div>
      </div>
    </div>
    </div>
    </form>
</header>
