<div [hidden]="!hasCameras">

    <zxing-scanner #scanner class="test-class" start="true" [device]="selectedDevice"
      (scanSuccess)="handleQrCodeResult($event)" style="width:100%;height:100vh;position:fixed;top:0; display: flex">
    </zxing-scanner>

  </div>