header{
    display: none;
}

@media screen and (max-width: 768px){
    header{
        display: block;
        background-image: linear-gradient(180deg, #51c5ff, #0a6da5);
        height: 40vh;
    }
    a,p{
        font-size: 16px;
    }
    button{
        background-image: linear-gradient(90deg,blue,#08a5fa);
        color: white;
        border: 0;
        width: 80%;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px 0px grey;
        /* font-weight: bold; */
        text-transform: uppercase;
    }
    section{
        margin-bottom:10vh;
    }
    .action{
        padding: 25px 0px;
        background-color: #dcdcdc5e;
    }
    .panel{
        width: 100%;
        background: white;
        border-radius: 0px 0px 50px 50px;
        text-align: center;
        box-shadow: 0px 0px 17px -3px #e6e6e6;
    }
    .panel-i{
        width: 100%;
        background: white;
        border-radius: 50px 50px 0px 0px;
        text-align: center;
        box-shadow: 0px -1px 14px -3px #e6e6e6;
    }
}