header{
    background-image: linear-gradient(180deg, #099ffb, #24caff);
    height: 8vh;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-radius: 10px 10px 0px 0px;
    
}
.row{
    height: 8vh;
}
.row > .col-2{
    height: 100%;
    display: flex;
}
.row > .col-2 > i{
    margin: auto;
    color: white;
}
.row > .col-4{
    height: 100%;
    /* display: flex; */
}
.row > .col-4 > i{
    margin: auto;
    font-size: 32px;
    color: white;
}
.btn-cerrar{
    position: fixed;
    top: 5vh;
    padding: 8px;
    background: blue;
    font-weight: bold;
    color: white;
    z-index: 999999;
    border: 0;
    border-radius: 0px 5px 5px 0px;
    font-size: 17px;
}
.btn-add{
    border-radius: 25px;
    height: 50px;
    position: absolute;
    width: 50px;
    color: white;
    display: flex;
    background: #008dff;
    box-shadow: 0px 0px 8px 0px #0000008c;
    bottom: 4vh;
    left: calc(50% - 25px);
}
.btn-add > i{
    margin: auto;
    font-size: 32px!important;
}