<section>
    <div class="container top">
      <div class="row">
        <div class="col-12">
          <p class="h3 my-0 py-3 text-center">QReady</p>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12 my-3 text-center">
          <b>Información sobre el QR scaneado</b>
        </div>
        <div class="col-12">
          <p class="text-center h5" *ngIf="(!QRselect.Foto && !QRselect.Video && !QRselect.Archivo && !QRselect.Texto)">¡Ups! Parece que este QR no tienen contenido.<br><br><b>¡Agregale algo interesante!</b><p>
          <img *ngIf="QRselect.Foto" src="{{QRselect.Foto}}" style="width:100%">
          <p class="my-3" *ngIf="QRselect.Texto">{{QRselect.Texto}}</p>
          <p *ngIf="QRselect.Archivo">{{QRselect.Archivo}} - <a class="text-info">Descargar</a></p>
          <hr>
          <p class="mt-5 text-center">
            <button class="one" >Guardar cambios</button></p>
          <p class="text-center">
            <button class="two">Volver al administrador</button>
          </p>
        </div>
      </div>
    </div>
  </section>