header{
    display: none;
}

@media screen and (max-width:768px){
    header{
        display:block;
        height: 40vh;
        background-color: #dcdcdc94;
    }
    img{
        width: 100px;
        height: 100px;
        padding: 5px;
        border: 1px solid white;
        border-radius: 50%;
    }
    p{
        font-size: 17px;
        border-bottom: 1px solid gainsboro;
        padding: 10px 0px;
    }
}